@model BMSwebapi.Models.TransactionDetail

@{
    ViewBag.Title = "Deposit";
}

<head>
    <style>
        #leftbox {
            float: left;
            width: 50%;
        }

        #rightbox {
            float: right;
            width: 50%;
        }
    </style>
</head>
<h4>Enter the Amount you want to Deposit</h4>

@using (Html.BeginForm("Deposit", "TransactionDetail", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="boxes">
        <div id="rightbox">
            <div class="col-md-12">
                <a href="..\img\bankdeposit1.jpg" class="thumbnail">
                    <img src="..\img\bankdeposit1.jpg" />
                </a>
            </div>
        </div>
        <div id="leftbox">
            <div class="form-horizontal"></div>

            @Html.HiddenFor(model => model.AccountNumber, new { @value = Session["AccountNumber"] })

            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Add" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div><br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Deposit" class="btn btn-outline-success" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    <p><a>@Html.ActionLink("Back", "../Home/Redirect")</a><br /><a>@Html.ActionLink("Logout", "../Home/Index")</a></p>
</div>

